In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('training.1600000.processed.noemoticon.csv',
                encoding="latin", header=None)

In [16]:
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [17]:
df.columns = ["target", "id", "date", "flag", "user", "tweet"]

In [18]:
df.head()

,target,id,date,flag,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [19]:
df.shape

(1600000, 6)

In [10]:
df['target'].value_counts()

0    800000
4    800000
Name: target, dtype: int64

In [20]:
df = df.drop(['id', 'date', 'flag', 'user'], axis=1)

In [21]:
df

         target                                              tweet
0             0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1             0  is upset that he can't update his Facebook by ...
2             0  @Kenichan I dived many times for the ball. Man...
3             0    my whole body feels itchy and like its on fire
4             0  @nationwideclass no, it's not behaving at all....
...         ...                                                ...
1599995       4  Just woke up. Having no school is the best fee...
1599996       4  TheWDB.com - Very cool to hear old Walt interv...
1599997       4  Are you ready for your MoJo Makeover? Ask me f...
1599998       4  Happy 38th Birthday to my boo of alll time!!! ...
1599999       4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [22]:
df.head()

   target                                              tweet
0       0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  is upset that he can't update his Facebook by ...
2       0  @Kenichan I dived many times for the ball. Man...
3       0    my whole body feels itchy and like its on fire
4       0  @nationwideclass no, it's not behaving at all....

In [23]:
df.sample(10)['tweet'].to_list()

["@blabers no, sorry, it's fabber cos we have the good weather AND electricity! ",
 'Why is it that I have 46 followers, none of whom acknowledge me? ',
 "Cold beer and a month's worth of time recording, lazy Sunday afternoon ",
 "@yenymt no not slow just mimi times, resting from a very busy day...i don't have buddies to drink with ",
 'i want to leave for England sooner. can i, can i?? probably not ',
 'Lovely weather again today bloody rain what happened to the lush sunshine!?! anyway home from work blah now time for a cup o coffee  hehe',
 'Oh no, they have to give me a shot....lawed help me ',
 'Leaving nyc and @ghosthawkx ',
 "Currently cleaning my makeup brushes after massive guilt trip that I don't take good care of them ",
 'ï¿½s wishing it was nightime+ that she war makn her way to Herbal ']

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1600000 non-null  int64
 1   tweet   1600000 non-null  object
dtypes: int64(1), object(1)
memory usage: 24.4+ MB

In [28]:
df['target'].replace(4,1, inplace=True)

In [29]:
df['target'].value_counts()

0    800000
1    800000
Name: target, dtype: int64

# Nettoyage

In [31]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

[nltk_data] Downloading package stopwords to /home/kevin/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [32]:
to_remove = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"

In [33]:
import re

In [ ]:
Cool cool

In [34]:
"         bonjour        ".strip()

'bonjour'

In [37]:
stop_words = stopwords.words("english")

In [39]:
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [40]:
stemmer = SnowballStemmer('english')

In [50]:
def nettoyage(text):
    to_remove = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"
    text = re.sub(to_remove, " ", str(text).lower().strip())
    tokens = []
    
    for token in text.split():
        if token not in stop_words:
            token = stemmer.stem(token)
            tokens.append(token)
            
    return " ".join(tokens)

In [48]:
df.sample(1)['tweet'].item()

'35 more minutes. I need a time machine! Waiting is not fun '

In [51]:
nettoyage("35 more minutes. I need a time machine! Waiting is not fun ")

'35 minut need time machin wait fun'

In [52]:
df["text"] = df["tweet"].apply(nettoyage)

In [54]:
df["text"].sample(4)

339919         well 21 idea happen last night wish mikeyshim
1390669    one local suburb dont know wifi wifi anyway ca...
1323213    go school afternoon 45 minut exam get bus back...
701309                                     eez hayley follow
Name: text, dtype: object

# Train test split

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)

In [58]:
train_data.shape

(1280000, 3)

In [59]:
test_data.shape

(320000, 3)

# Tokenization

In [55]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [61]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(train_data['text'])

In [63]:
??tokenizer.fit_on_texts

In [104]:
tokenizer

In [64]:
word_index = tokenizer.word_index

In [74]:
train_data.head()

,target,tweet,text
1374558,1,"@jbtaylor WIth ya. &quot;I'd like a Palm Pre, ...",ya quot like palm pre touchston charger readyn...
1389115,1,"felt the earthquake this afternoon, it seems t...",felt earthquak afternoon seem epicent
1137831,1,"Ruffles on shirts are like so in, me Likey",ruffl shirt like likey
790714,0,Pretty bad night into a crappy morning....FML!...,pretti bad night crappi morn fml buttfac didnt...
1117911,1,"@dcbriccetti yeah, what a clear view!",yeah clear view

In [65]:
word_index

{'go': 1,
 'get': 2,
 'day': 3,
 'good': 4,
 'work': 5,
 'like': 6,
 'love': 7,
 'quot': 8,
 'today': 9,
 'time': 10,
 'got': 11,
 'thank': 12,
 'lol': 13,
 'one': 14,
 'want': 15,
 'back': 16,
 'miss': 17,
 'u': 18,
 'know': 19,
 'see': 20,
 'think': 21,
 'feel': 22,
 'im': 23,
 'realli': 24,
 'amp': 25,
 'night': 26,
 'hope': 27,
 'watch': 28,
 'still': 29,
 'need': 30,
 'make': 31,
 'well': 32,
 '2': 33,
 'new': 34,
 'home': 35,
 'oh': 36,
 'look': 37,
 'come': 38,
 'much': 39,
 'last': 40,
 'twitter': 41,
 'morn': 42,
 'tomorrow': 43,
 'wish': 44,
 'great': 45,
 'sad': 46,
 'sleep': 47,
 '3': 48,
 'wait': 49,
 'haha': 50,
 'fun': 51,
 'bad': 52,
 'week': 53,
 'tri': 54,
 'follow': 55,
 'right': 56,
 'happi': 57,
 'would': 58,
 'thing': 59,
 'friend': 60,
 'sorri': 61,
 'tonight': 62,
 'say': 63,
 'way': 64,
 'take': 65,
 'though': 66,
 'gonna': 67,
 'nice': 68,
 'better': 69,
 'hate': 70,
 'even': 71,
 'yeah': 72,
 'bed': 73,
 'tweet': 74,
 'could': 75,
 'start': 76,
 'school': 77,
 'peopl': 78,
 'hour': 79,
 'show': 80,
 'play': 81,
 'guy': 82,
 'weekend': 83,
 'hey': 84,
 'final': 85,
 '4': 86,
 'awesom': 87,
 'yes': 88,
 'next': 89,
 'let': 90,
 'use': 91,
 'lt': 92,
 'dont': 93,
 'never': 94,
 'soon': 95,
 'cant': 96,
 'tire': 97,
 'rain': 98,
 'long': 99,
 'pleas': 100,
 'littl': 101,
 'first': 102,
 'everyon': 103,
 'year': 104,
 'wanna': 105,
 'movi': 106,
 'life': 107,
 'best': 108,
 'sick': 109,
 'ok': 110,
 'girl': 111,
 'find': 112,
 'call': 113,
 'suck': 114,
 'bore': 115,
 'sure': 116,
 'done': 117,
 'head': 118,
 'help': 119,
 '1': 120,
 'alway': 121,
 'talk': 122,
 'x': 123,
 'keep': 124,
 'alreadi': 125,
 'cool': 126,
 'anoth': 127,
 'lot': 128,
 'someth': 129,
 'us': 130,
 'eat': 131,
 'live': 132,
 'man': 133,
 'phone': 134,
 'leav': 135,
 'hurt': 136,
 'readi': 137,
 'read': 138,
 'made': 139,
 'yay': 140,
 'enjoy': 141,
 'yet': 142,
 'hous': 143,
 'went': 144,
 'song': 145,
 'ur': 146,
 'sound': 147,
 'thought': 148,
 'ever': 149,
 'pretti': 150,
 'mayb': 151,
 'amaz': 152,
 'excit': 153,
 'summer': 154,
 'n': 155,
 'finish': 156,
 'away': 157,
 'omg': 158,
 'guess': 159,
 'old': 160,
 'game': 161,
 'tell': 162,
 'damn': 163,
 'mean': 164,
 '5': 165,
 'earli': 166,
 'someon': 167,
 'listen': 168,
 'check': 169,
 'babi': 170,
 'bit': 171,
 'left': 172,
 'lost': 173,
 'give': 174,
 'wow': 175,
 'parti': 176,
 'big': 177,
 'late': 178,
 'end': 179,
 'hear': 180,
 'noth': 181,
 'hot': 182,
 'ya': 183,
 'birthday': 184,
 'glad': 185,
 'hard': 186,
 'actual': 187,
 'happen': 188,
 'pic': 189,
 'also': 190,
 'stop': 191,
 'sun': 192,
 'later': 193,
 'weather': 194,
 'two': 195,
 'mom': 196,
 'stuff': 197,
 'w': 198,
 'wonder': 199,
 'put': 200,
 'ugh': 201,
 'saw': 202,
 'run': 203,
 'fuck': 204,
 'god': 205,
 'car': 206,
 'might': 207,
 'exam': 208,
 'stay': 209,
 'world': 210,
 'yesterday': 211,
 'music': 212,
 'that': 213,
 'kid': 214,
 'said': 215,
 'meet': 216,
 'sinc': 217,
 'job': 218,
 'hi': 219,
 'post': 220,
 'gotta': 221,
 'updat': 222,
 'beauti': 223,
 'friday': 224,
 'monday': 225,
 'sunday': 226,
 'around': 227,
 'mani': 228,
 'video': 229,
 'seem': 230,
 'b': 231,
 'luck': 232,
 'cold': 233,
 'found': 234,
 'cri': 235,
 'poor': 236,
 'must': 237,
 'r': 238,
 'move': 239,
 'book': 240,
 'aww': 241,
 'die': 242,
 'busi': 243,
 'com': 244,
 'gone': 245,
 'boy': 246,
 'may': 247,
 'anyth': 248,
 'shop': 249,
 'buy': 250,
 'famili': 251,
 'woke': 252,
 'studi': 253,
 'plan': 254,
 'hair': 255,
 'total': 256,
 'food': 257,
 'least': 258,
 'okay': 259,
 'almost': 260,
 'lunch': 261,
 'month': 262,
 'cute': 263,
 'till': 264,
 'tho': 265,
 'iphon': 266,
 'free': 267,
 'drink': 268,
 'dinner': 269,
 'sweet': 270,
 'far': 271,
 'caus': 272,
 'believ': 273,
 'pictur': 274,
 '10': 275,
 'shit': 276,
 'funni': 277,
 'win': 278,
 'everyth': 279,
 'place': 280,
 'chang': 281,
 'class': 282,
 'welcom': 283,
 'anyon': 284,
 'gt': 285,
 'drive': 286,
 'turn': 287,
 'sit': 288,
 'mine': 289,
 'forward': 290,
 'ask': 291,
 '6': 292,
 'without': 293,
 'name': 294,
 'walk': 295,
 'stupid': 296,
 'write': 297,
 'dream': 298,
 'idea': 299,
 'real': 300,
 'hahaha': 301,
 'send': 302,
 'outsid': 303,
 'clean': 304,
 'dad': 305,
 'coffe': 306,
 'ill': 307,
 'enough': 308,
 'room': 309,
 'dog': 310,
 'anymor': 311,
 'wrong': 312,
 'probabl': 313,
 'p': 314,
 'everi': 315,
 'wake': 316,
 'didnt': 317,
 'fan': 318,
 'saturday': 319,
 'tv': 320,
 'ha': 321,
 'money': 322,
 'minut': 323,
 'c': 324,
 'repli': 325,
 'xx': 326,
 'break': 327,
 'person': 328,
 'rememb': 329,
 'eye': 330,
 'serious': 331,
 'face': 332,
 'headach': 333,
 'sooo': 334,
 'aw': 335,
 'rock': 336,
 'hit': 337,
 'brother': 338,
 '30': 339,
 'fail': 340,
 '8': 341,
 'beach': 342,
 'blog': 343,
 'train': 344,
 'whole': 345,
 'seen': 346,
 'came': 347,
 'open': 348,
 'kinda': 349,
 'hang': 350,
 'crazi': 351,
 'rest': 352,
 '7': 353,
 'mother': 354,
 'kill': 355,
 'pain': 356,
 'close': 357,
 'word': 358,
 'comput': 359,
 'took': 360,
 'super': 361,
 'care': 362,
 'quit': 363,
 'hell': 364,
 'half': 365,
 'text': 366,
 'hello': 367,
 'news': 368,
 'worri': 369,
 'anyway': 370,
 'awww': 371,
 'true': 372,
 'goodnight': 373,
 'heart': 374,
 'part': 375,
 'trip': 376,
 'forgot': 377,
 'problem': 378,
 'abl': 379,
 'els': 380,
 'bring': 381,
 'ago': 382,
 'kind': 383,
 'either': 384,
 'mind': 385,
 'offic': 386,
 'photo': 387,
 'full': 388,
 'link': 389,
 'boo': 390,
 'pay': 391,
 'ah': 392,
 'soo': 393,
 'danc': 394,
 'hug': 395,
 'cuz': 396,
 'sister': 397,
 'internet': 398,
 'alon': 399,
 'stuck': 400,
 'hehe': 401,
 'test': 402,
 'fall': 403,
 'btw': 404,
 'heard': 405,
 'cours': 406,
 'sometim': 407,
 'email': 408,
 'ticket': 409,
 'pick': 410,
 'site': 411,
 'www': 412,
 'learn': 413,
 'interest': 414,
 'set': 415,
 'shower': 416,
 'concert': 417,
 'hand': 418,
 'vote': 419,
 'add': 420,
 'wont': 421,
 'pass': 422,
 'dude': 423,
 'season': 424,
 'awak': 425,
 'suppos': 426,
 'fine': 427,
 'onlin': 428,
 'visit': 429,
 'ice': 430,
 'breakfast': 431,
 'facebook': 432,
 'told': 433,
 'cat': 434,
 'fix': 435,
 'goe': 436,
 'favorit': 437,
 'sunni': 438,
 'ass': 439,
 'til': 440,
 'pack': 441,
 'catch': 442,
 'smile': 443,
 'cut': 444,
 'broke': 445,
 'wear': 446,
 'high': 447,
 'spend': 448,
 'lucki': 449,
 'crap': 450,
 'bought': 451,
 'lmao': 452,
 'hungri': 453,
 'afternoon': 454,
 'asleep': 455,
 'june': 456,
 'la': 457,
 'reason': 458,
 '9': 459,
 'mad': 460,
 'ladi': 461,
 'ride': 462,
 'definit': 463,
 'red': 464,
 '100': 465,
 'agre': 466,
 'laugh': 467,
 'sign': 468,
 'xd': 469,
 'yea': 470,
 'instead': 471,
 'bye': 472,
 'perfect': 473,
 'short': 474,
 'sigh': 475,
 'jealous': 476,
 'sore': 477,
 'e': 478,
 'homework': 479,
 'bout': 480,
 'stori': 481,
 'wed': 482,
 'top': 483,
 'nap': 484,
 'second': 485,
 'citi': 486,
 'album': 487,
 'page': 488,
 'dear': 489,
 'messag': 490,
 'nite': 491,
 'list': 492,
 'graduat': 493,
 'figur': 494,
 'togeth': 495,
 'tour': 496,
 'dead': 497,
 'near': 498,
 'join': 499,
 '0': 500,
 'sing': 501,
 'date': 502,
 'holiday': 503,
 'store': 504,
 'congrat': 505,
 'laptop': 506,
 'park': 507,
 'soooo': 508,
 'youtub': 509,
 'l': 510,
 'save': 511,
 'star': 512,
 'complet': 513,
 'coupl': 514,
 'moment': 515,
 '12': 516,
 'award': 517,
 'water': 518,
 'revis': 519,
 'line': 520,
 'point': 521,
 'goin': 522,
 'relax': 523,
 'drop': 524,
 'side': 525,
 'town': 526,
 'tea': 527,
 'order': 528,
 'annoy': 529,
 'ipod': 530,
 'church': 531,
 'dress': 532,
 'weird': 533,
 'answer': 534,
 'cook': 535,
 'download': 536,
 'less': 537,
 'ppl': 538,
 'account': 539,
 'ive': 540,
 'decid': 541,
 'cream': 542,
 '20': 543,
 'share': 544,
 'forget': 545,
 'offici': 546,
 'mood': 547,
 'gym': 548,
 'scare': 549,
 'lose': 550,
 'realiz': 551,
 'air': 552,
 'lil': 553,
 'min': 554,
 'chat': 555,
 'math': 556,
 'english': 557,
 'understand': 558,
 'fli': 559,
 'past': 560,
 'usual': 561,
 'band': 562,
 'chocol': 563,
 'mum': 564,
 'unfortun': 565,
 'fb': 566,
 'episod': 567,
 'comment': 568,
 'differ': 569,
 'fast': 570,
 'knew': 571,
 'ate': 572,
 'pool': 573,
 '11': 574,
 'worst': 575,
 'ahh': 576,
 'upload': 577,
 'load': 578,
 'window': 579,
 'kick': 580,
 'broken': 581,
 'london': 582,
 'chanc': 583,
 'team': 584,
 'hmm': 585,
 'cheer': 586,
 'parent': 587,
 'support': 588,
 'black': 589,
 'yep': 590,
 'horribl': 591,
 'question': 592,
 'throat': 593,
 'flight': 594,
 'sat': 595,
 'sleepi': 596,
 '1st': 597,
 'via': 598,
 'worth': 599,
 'myspac': 600,
 'xxx': 601,
 'card': 602,
 'special': 603,
 'three': 604,
 'upset': 605,
 'slow': 606,
 'sunshin': 607,
 'depress': 608,
 'leg': 609,
 'fair': 610,
 'bless': 611,
 'mac': 612,
 'green': 613,
 'followfriday': 614,
 'shirt': 615,
 'jona': 616,
 'beat': 617,
 'da': 618,
 'bet': 619,
 'number': 620,
 'em': 621,
 'gave': 622,
 'sent': 623,
 'record': 624,
 'k': 625,
 'paper': 626,
 'colleg': 627,
 'cake': 628,
 'tuesday': 629,
 'ad': 630,
 'g': 631,
 'finger': 632,
 'project': 633,
 '15': 634,
 'app': 635,
 'beer': 636,
 'warm': 637,
 'appar': 638,
 'moon': 639,
 'what': 640,
 'vacat': 641,
 'blue': 642,
 'websit': 643,
 'fell': 644,
 'wors': 645,
 'garden': 646,
 'easi': 647,
 'power': 648,
 'doesnt': 649,
 'bday': 650,
 'rather': 651,
 'disappoint': 652,
 'light': 653,
 'film': 654,
 'possibl': 655,
 'nope': 656,
 'safe': 657,
 'cannot': 658,
 'huge': 659,
 'longer': 660,
 'juli': 661,
 'bodi': 662,
 'miley': 663,
 'mess': 664,
 'wtf': 665,
 'shoe': 666,
 'mr': 667,
 'uk': 668,
 'spent': 669,
 'flu': 670,
 'due': 671,
 'googl': 672,
 'voic': 673,
 'cancel': 674,
 'absolut': 675,
 'lay': 676,
 'shame': 677,
 'freak': 678,
 'celebr': 679,
 'plus': 680,
 'cousin': 681,
 'bike': 682,
 'sim': 683,
 'mtv': 684,
 'thx': 685,
 'age': 686,
 'chill': 687,
 'earlier': 688,
 'ahhh': 689,
 'stress': 690,
 'lazi': 691,
 'white': 692,
 'babe': 693,
 'quick': 694,
 'burn': 695,
 'touch': 696,
 'swim': 697,
 'hold': 698,
 'remind': 699,
 'forev': 700,
 'thursday': 701,
 'lie': 702,
 'box': 703,
 'stomach': 704,
 'except': 705,
 'especi': 706,
 'bus': 707,
 'david': 708,
 'camera': 709,
 'shot': 710,
 'camp': 711,
 'manag': 712,
 'exact': 713,
 'pray': 714,
 'son': 715,
 'v': 716,
 'appreci': 717,
 'idk': 718,
 'slept': 719,
 'tom': 720,
 'boyfriend': 721,
 'met': 722,
 'bum': 723,
 'insid': 724,
 'appl': 725,
 'type': 726,
 'crash': 727,
 'surpris': 728,
 'sort': 729,
 'piss': 730,
 'present': 731,
 'fight': 732,
 'current': 733,
 'note': 734,
 'havent': 735,
 'yummi': 736,
 'airport': 737,
 'wit': 738,
 'mail': 739,
 'arriv': 740,
 'servic': 741,
 'shoot': 742,
 'random': 743,
 'luv': 744,
 'block': 745,
 'bitch': 746,
 'confus': 747,
 'terribl': 748,
 'road': 749,
 'cover': 750,
 'invit': 751,
 'pizza': 752,
 'hospit': 753,
 'father': 754,
 'small': 755,
 'bbq': 756,
 'club': 757,
 'meant': 758,
 'interview': 759,
 'fit': 760,
 'expect': 761,
 '2day': 762,
 'cloth': 763,
 'tast': 764,
 'dm': 765,
 'count': 766,
 'case': 767,
 'hill': 768,
 'radio': 769,
 'doctor': 770,
 'chicken': 771,
 'alright': 772,
 'hubbi': 773,
 'storm': 774,
 'proud': 775,
 'deal': 776,
 'design': 777,
 'f': 778,
 'mention': 779,
 'raini': 780,
 'twilight': 781,
 'tummi': 782,
 'smell': 783,
 'felt': 784,
 'stand': 785,
 'lone': 786,
 'shall': 787,
 'notic': 788,
 'cup': 789,
 'speak': 790,
 'wine': 791,
 'goodby': 792,
 'begin': 793,
 'laker': 794,
 'search': 795,
 'cd': 796,
 'bag': 797,
 'gorgeous': 798,
 'peac': 799,
 'ach': 800,
 'addict': 801,
 'lame': 802,
 'feet': 803,
 'fact': 804,
 'pull': 805,
 'wednesday': 806,
 'wash': 807,
 'hmmm': 808,
 'practic': 809,
 'yup': 810,
 'bar': 811,
 'issu': 812,
 'kiss': 813,
 'front': 814,
 'product': 815,
 'tan': 816,
 'connect': 817,
 'woo': 818,
 'cos': 819,
 'glass': 820,
 'compani': 821,
 'xoxo': 822,
 'whatev': 823,
 'roll': 824,
 'memori': 825,
 'state': 826,
 'ouch': 827,
 'tear': 828,
 'ball': 829,
 'event': 830,
 'taken': 831,
 'scari': 832,
 'french': 833,
 'round': 834,
 'exhaust': 835,
 'paint': 836,
 'drunk': 837,
 'joke': 838,
 'bro': 839,
 'apart': 840,
 'mate': 841,
 'jus': 842,
 'normal': 843,
 'behind': 844,
 'daughter': 845,
 'becom': 846,
 'travel': 847,
 'mile': 848,
 '2nd': 849,
 'gettin': 850,
 'fire': 851,
 'door': 852,
 'ear': 853,
 'isnt': 854,
 'guitar': 855,
 'prob': 856,
 'everybodi': 857,
 'plane': 858,
 'puppi': 859,
 'singl': 860,
 'wife': 861,
 'version': 862,
 'releas': 863,
 'yo': 864,
 'j': 865,
 'rip': 866,
 'sold': 867,
 'return': 868,
 'sell': 869,
 'cross': 870,
 'matter': 871,
 'vega': 872,
 'pop': 873,
 'mommi': 874,
 'promis': 875,
 'arm': 876,
 'hangov': 877,
 'sis': 878,
 'allow': 879,
 'fantast': 880,
 'fri': 881,
 'hahah': 882,
 'art': 883,
 'web': 884,
 'sale': 885,
 'magic': 886,
 'although': 887,
 'alot': 888,
 'wat': 889,
 'fish': 890,
 'clear': 891,
 'countri': 892,
 'self': 893,
 'along': 894,
 'bug': 895,
 'dark': 896,
 'ruin': 897,
 'cooki': 898,
 'hotel': 899,
 'death': 900,
 'screen': 901,
 'group': 902,
 'track': 903,
 'nick': 904,
 'hun': 905,
 'wast': 906,
 'inde': 907,
 'histori': 908,
 'act': 909,
 'perform': 910,
 'ahead': 911,
 'aint': 912,
 'gosh': 913,
 'huh': 914,
 'eh': 915,
 'instal': 916,
 'bird': 917,
 'profil': 918,
 'deserv': 919,
 'buddi': 920,
 'ohh': 921,
 'twit': 922,
 'cough': 923,
 'low': 924,
 'vip': 925,
 'nobodi': 926,
 'heat': 927,
 'fill': 928,
 'grow': 929,
 'fml': 930,
 'extra': 931,
 'angel': 932,
 'sexi': 933,
 'fat': 934,
 'posit': 935,
 'yum': 936,
 'blood': 937,
 'dvd': 938,
 'land': 939,
 'pink': 940,
 'race': 941,
 'major': 942,
 'troubl': 943,
 'bloodi': 944,
 'chees': 945,
 'traffic': 946,
 'street': 947,
 'throw': 948,
 'gut': 949,
 'delet': 950,
 'daddi': 951,
 'men': 952,
 'nail': 953,
 'gay': 954,
 'somewher': 955,
 'ran': 956,
 'dunno': 957,
 'vid': 958,
 'edit': 959,
 'bb': 960,
 '24': 961,
 'nose': 962,
 'dang': 963,
 'coz': 964,
 'itun': 965,
 '50': 966,
 'caught': 967,
 'other': 968,
 'view': 969,
 'ff': 970,
 'shut': 971,
 'prepar': 972,
 'pc': 973,
 'recommend': 974,
 'fever': 975,
 'ooh': 976,
 'step': 977,
 'suggest': 978,
 'fam': 979,
 'result': 980,
 'tweetdeck': 981,
 'watchin': 982,
 'bill': 983,
 'awwww': 984,
 'shine': 985,
 'blah': 986,
 'inspir': 987,
 'direct': 988,
 'nyc': 989,
 'chillin': 990,
 'market': 991,
 'congratul': 992,
 'taylor': 993,
 'def': 994,
 'report': 995,
 'hrs': 996,
 'doubt': 997,
 'mall': 998,
 'brain': 999,
 'choic': 1000,
 ...}

In [66]:
index_word = tokenizer.index_word

In [67]:
vocab_size = len(word_index)+1
vocab_size

248632

In [105]:
import pickle

# saving
with open('tokenizer.pickle', 'wb') as handle:
    pickle.dump(tokenizer, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [101]:
tokenizer.to_json("tokenizer.json")

TypeError: Tokenizer.to_json() takes 1 positional argument but 2 were given

In [68]:
vocab_size = 50000
max_len = 30

In [71]:
x_train = tokenizer.texts_to_sequences(train_data['text'])
x_test = tokenizer.texts_to_sequences(test_data['text'])

In [73]:
train_data['text'][45]

'yay happi job also mean less time'

In [72]:
x_train[45]

[313, 67, 65, 33, 53, 3526, 1503, 6549, 128, 4, 197, 44797, 1400]

In [70]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [75]:
x_train = pad_sequences(x_train, maxlen=max_len)
x_test = pad_sequences(x_test, maxlen=max_len)

In [76]:
x_train[45]

array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,   313,
          67,    65,    33,    53,  3526,  1503,  6549,   128,     4,
         197, 44797,  1400], dtype=int32)

In [82]:
y_train = train_data['target'].values
y_train = y_train.reshape(-1, 1)

y_test = test_data['target'].values
y_test = y_test.reshape(-1, 1)

In [83]:
y_train.shape

(1280000, 1)

# Text Classifier

In [84]:
import tensorflow as tf

In [86]:
import numpy as np

In [87]:
np.power(vocab_size, 1/4)

14.953487812212206

In [88]:
model = tf.keras.Sequential([
    tf.
    tf.keras.layers.Embedding(vocab_size, 15),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(15)),
    tf.keras.layers.Dense(20, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
    
])

2023-06-05 21:42:54.266695: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-06-05 21:42:54.327874: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-06-05 21:42:54.328061: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-06-05 21:42:54.331093: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-06-05 21:42:54.331966: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-06-05 21:42:54.332119: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-06-05 21:42:54.332253: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-06-05 21:42:54.956021: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-06-05 21:42:54.956229: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-06-05 21:42:54.956409: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-06-05 21:42:54.956771: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1532] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 6088 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3070 Laptop GPU, pci bus id: 0000:01:00.0, compute capability: 8.6

In [89]:
adam = tf.keras.optimizers.Adam(learning_rate=0.00001, beta_1=0.9, beta_2=0.999)

In [90]:
model.compile(loss='binary_crossentropy', optimizer=adam, metrics=['accuracy'])

In [91]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, None, 15)          750000

 bidirectional (Bidirectiona  (None, 30)               3720
 l)

 dense (Dense)               (None, 20)                620

 dense_1 (Dense)             (None, 1)                 21

=================================================================
Total params: 754,361
Trainable params: 754,361
Non-trainable params: 0
_________________________________________________________________

In [93]:
history = model.fit(x_train, y_train, batch_size=1024, 
                    epochs=20, validation_data=(x_test, y_test))

Epoch 1/20

2023-06-05 21:46:13.582142: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 153600000 exceeds 10% of free system memory.
2023-06-05 21:46:17.185014: I tensorflow/stream_executor/cuda/cuda_dnn.cc:384] Loaded cuDNN version 8500
2023-06-05 21:46:17.353367: I tensorflow/stream_executor/cuda/cuda_blas.cc:1786] TensorFloat-32 will be used for the matrix multiplication. This will only be logged once.

1246/1250 [============================>.] - ETA: 0s - loss: 0.6916 - accuracy: 0.5801

2023-06-05 21:46:25.075067: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 38400000 exceeds 10% of free system memory.

1250/1250 [==============================] - 13s 7ms/step - loss: 0.6916 - accuracy: 0.5803 - val_loss: 0.6895 - val_accuracy: 0.6305
Epoch 2/20
1250/1250 [==============================] - 8s 6ms/step - loss: 0.6849 - accuracy: 0.6584 - val_loss: 0.6782 - val_accuracy: 0.6818
Epoch 3/20
1250/1250 [==============================] - 9s 7ms/step - loss: 0.6658 - accuracy: 0.6975 - val_loss: 0.6501 - val_accuracy: 0.7123
Epoch 4/20
1250/1250 [==============================] - 8s 6ms/step - loss: 0.6280 - accuracy: 0.7215 - val_loss: 0.6056 - val_accuracy: 0.7288
Epoch 5/20
1250/1250 [==============================] - 8s 6ms/step - loss: 0.5860 - accuracy: 0.7337 - val_loss: 0.5714 - val_accuracy: 0.7380
Epoch 6/20
1250/1250 [==============================] - 8s 6ms/step - loss: 0.5598 - accuracy: 0.7429 - val_loss: 0.5523 - val_accuracy: 0.7453
Epoch 7/20
1250/1250 [==============================] - 8s 6ms/step - loss: 0.5434 - accuracy: 0.7493 - val_loss: 0.5387 - val_accuracy: 0.7503
Epoch 8/20
1250/1250 [==============================] - 8s 6ms/step - loss: 0.5303 - accuracy: 0.7545 - val_loss: 0.5269 - val_accuracy: 0.7550
Epoch 9/20
1250/1250 [==============================] - 8s 7ms/step - loss: 0.5190 - accuracy: 0.7587 - val_loss: 0.5167 - val_accuracy: 0.7583
Epoch 10/20
1250/1250 [==============================] - 8s 6ms/step - loss: 0.5092 - accuracy: 0.7624 - val_loss: 0.5081 - val_accuracy: 0.7616
Epoch 11/20
1250/1250 [==============================] - 8s 7ms/step - loss: 0.5010 - accuracy: 0.7653 - val_loss: 0.5010 - val_accuracy: 0.7640
Epoch 12/20
1250/1250 [==============================] - 8s 7ms/step - loss: 0.4940 - accuracy: 0.7677 - val_loss: 0.4949 - val_accuracy: 0.7659
Epoch 13/20
1250/1250 [==============================] - 8s 6ms/step - loss: 0.4880 - accuracy: 0.7698 - val_loss: 0.4900 - val_accuracy: 0.7676
Epoch 14/20
1250/1250 [==============================] - 8s 6ms/step - loss: 0.4833 - accuracy: 0.7715 - val_loss: 0.4864 - val_accuracy: 0.7687
Epoch 15/20
1250/1250 [==============================] - 8s 6ms/step - loss: 0.4798 - accuracy: 0.7730 - val_loss: 0.4838 - val_accuracy: 0.7701
Epoch 16/20
1250/1250 [==============================] - 8s 7ms/step - loss: 0.4771 - accuracy: 0.7744 - val_loss: 0.4818 - val_accuracy: 0.7712
Epoch 17/20
1250/1250 [==============================] - 8s 6ms/step - loss: 0.4749 - accuracy: 0.7757 - val_loss: 0.4802 - val_accuracy: 0.7718
Epoch 18/20
1250/1250 [==============================] - 8s 7ms/step - loss: 0.4729 - accuracy: 0.7768 - val_loss: 0.4788 - val_accuracy: 0.7728
Epoch 19/20
1250/1250 [==============================] - 7s 6ms/step - loss: 0.4712 - accuracy: 0.7778 - val_loss: 0.4776 - val_accuracy: 0.7733
Epoch 20/20
1250/1250 [==============================] - 7s 6ms/step - loss: 0.4696 - accuracy: 0.7786 - val_loss: 0.4765 - val_accuracy: 0.7736

In [94]:
model.save('model.h5')

In [95]:
from tensorflow.keras.models import load_model

In [96]:
saved_model = load_model('model.h5')

In [97]:
saved_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, None, 15)          750000

 bidirectional (Bidirectiona  (None, 30)               3720
 l)

 dense (Dense)               (None, 20)                620

 dense_1 (Dense)             (None, 1)                 21

=================================================================
Total params: 754,361
Trainable params: 754,361
Non-trainable params: 0
_________________________________________________________________

In [113]:
df['tweet'][455]

"Twilight didn't come yesterday  fingers crossed for today"

In [131]:
tweet = "@Twilight didn't come yesterday  fingers crossed for today I loved this class"

In [126]:
nettoyage(tweet)

'come yesterday finger cross today love class'

In [132]:
tweet = nettoyage(tweet)
#print(tweet)
tweet = tokenizer.texts_to_sequences([tweet])
print(tweet)
tweet = pad_sequences(tweet, maxlen=30)
result = saved_model.predict([tweet])

[[38, 211, 632, 870, 9, 7, 282]]
1/1 [==============================] - 0s 16ms/step

In [135]:
result.item() *100

74.43274855613708